<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Sauce Demo Framework">

	<listeners>
		<listener
			class-name="com.saucedemo.reportListener.ImplementListener" />
	</listeners>
	<test name="Test SauseDemo Positive Scenario">

		<parameter name="ValidUsername" value="standard_user" />
		<parameter name="ValidPassword" value="secret_sauce" />
		<classes>

			<class name="com.saucedemo.testcases.LoginTest_Positive">
			</class>
		</classes>
	</test>
	<test name="Test SauseDemo Negative Scenario">
		<parameter name="InvalidUsername"
			value="standard_InvalidIuser" />
		<parameter name="InvalidPassword" value="secret_Invalidpwd" />
		<classes>
			<class name="com.saucedemo.testcases.LoginTest_Negative">
			</class>
		</classes>
	</test>
</suite>
